//$base-color: #241c40;
$base-color: #333;
//$highlight-color: #a043dc;
$highlight-color: #dea033;
//$notification-color: #27c9ba;
$notification-color: #edc612;
//$action-color: #1fc2e5;
$action-color: #e5af1f;

$link: #aa4000;

@import "admin";
